* {
  color: white;
  background-color: rgb(63, 79, 218);
  font-family: "VT323", monospace;
  font-size: 23px;
}

button, input {
  border: 2px dashed white;
  outline: 0;
}

button:active, input:focus {
  border: 2px dashed gray;
}

h1 {
  font-size: 52px;
}

body {
  margin-left: 50px;
}

hr {
  width: 900px;
  margin-left: 0;
}